@charset "UTF-8";

* {
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
}
.btn{
    border: none;
    display: block;
    position: relative;
    padding: 0.5em 2.2em;
    font-size: 25px;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    color: royalblue;
    overflow: hidden;
}
.btn span{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
    border: 5px solid royalblue;
}
.btn span::before{
    content: "";
    position: absolute;
    width: 8%;
    height: 500%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all .5s;
}
.btn:hover span::before{
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background-color: royalblue;
}   
.btn:hover{
    color: white;
}